{% load static %}
<!DOCTYPE html>
<html id="html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dynamics</title>
    <link rel="icon" href="{% static 'img/logos/logo-transparent.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingPage.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/psPage.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  </head>
</html> 