{% include 'base.html' %}
{% load static %}


<header class="container-header">
    <div class="container-textos">
        <img src = "{% static 'img/logos/horizontal-cinza.png' %}" class="logo-img">
        <a href="/">
            <p class="header-text">Sobre</p>
        </a>
        <a href="/">
            <p class="header-text">Projetos</p>
        </a>
        <a href="/">
            <p class="header-text">Processo Seletivo</p>
        </a>
    </div>
    <div class="container-icons">
        <a href="https://www.instagram.com/insper_dynamics/">
            <img src="{% static 'img/icons/instagram.png' %}" class="logo-instagram">
        </a>
        <a href="https://www.linkedin.com/company/insper-dynamics/">
            <img src="{% static 'img/icons/linkedin.png'%}" class="logo-linkedin"> 
        </a>
    </div>
</header>

<main class="container-main">
    <p class="principal-text">Processo Seletivo</p>
    <p class="description-text">A Insper Dynamics procura alunos ágeis, vorazes por conhecimento e dispostos a conhecerem e inovarem. Para isso nosso Processo Seletivo não busca te submeter a uma prova que te avaliará como aluno, mas uma serie de processos para conhecermos seu Background, seus objetivos e te ajudar a construir seu futuro.</p>
    <p class="secondary-text">1° Fase - 📩Apresentação</p>
    <p class="description-text">É uma fase que busca conhecer o seu Background, nela esperamos que você nos envie, seja seu LinkedIn, Currículo ou texto de apresentação, para conseguirmos entender melhor quem é você, de onde você veio e como podemos te ajudar em sua jornada.</p>
    <p class="secondary-text">2° Fase - 👩🏻‍🤝‍👨🏾Team Work👩🏾‍🤝‍👨🏼</p>
    <p class="description-text">Na Dynamics desenvolvemos diversos projetos de inteligência artificial, e para isso precisamos de membros com alta capacidade de trabalho em Equipe, para isso está etapa avaliará o seu desempenho para trabalhar com uma equipe de pessoas desconhecidas.</p>
    <p class="secondary-text">3° Fase - 🎙️Entrevista</p>
    <p class="description-text">Na útilma fase buscamos conhecer VOCÊ, entendendo melhor como as experiencias que você vivenciou ajudaram a construir seu caracter.</p>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="nome" placeholder="Nome Completo" name="nome" required>
        <input type="text" id="email" placeholder="Email Insper" name="email" required>
        <input type="text" id="curso" placeholder="Curso" name="curso" required>
        <input type="text" id="Semestre" placeholder="Semestre do Curso" name="Semestre" required>
        <input type="text" id="Telefone" placeholder="Telefone" name="Telefone" required>
    </form>
</main>