{% include 'base.html' %}

<header>
    <nav>
        <ol>
            <li>Bola</li>
            <li>Sobre</li>
            <li>Projetos</li>
            <li>Processo Seletivo</li>
        </ol>
    </nav>
</header>

<main>
    <img src="./ASSETS/IMG/logo dynamics.jpg" alt="logo">
    <div class="Coluna">
        <div class="Linha">
            <div class="Projetos">
                <div class="Flashcards">
                    <img src="./ASSETS/IMG/webdev.jpeg" alt="webdev">
                    <p>WebDev</p>
                    <button class="Saiba">Saiba mais</button>
                </div>
                <div class="Flashcards">
                    <img src="./ASSETS/IMG/rescue.jpg" alt="rescue">
                    <p>Rescue</p>
                    <button class="Saiba">Saiba mais</button>
                </div>
                <div class="Flashcards">
                    <img src="./ASSETS/IMG/arm chal.jpg" alt="armcahl">
                    <p>ArmChallenge</p>
                    <button class="Saiba">Saiba mais</button>
                </div>
            </div>
        </div>
        <div class="Linha">
            <div class="Projetos">
                <div class="Flashcards">
                    <img src="./ASSETS/IMG/soccer2d.jpeg" alt="soccer">
                    <p>Soccer2D</p>
                    <button class="Saiba">Saiba mais</button>
                </div>
                <div class="Flashcards">
                    <img src="./ASSETS/IMG/proto snake.jpg" alt="snake">
                    <p>ProtoSnake</p>
                    <button class="Saiba">Saiba mais</button>
                </div>
                <div class="Flashcards">
                    <img src="./ASSETS/IMG/deepracer.jpg" alt="deep">
                    <p>DeepRacer</p>
                    <button class="Saiba">Saiba mais</button>
                </div>
            </div>
        </div>
    </div>
    <div class="Content">
        <div class="slides">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
        </div>
    </div>
</main>