{% include 'base.html' %}
{% load static %}


<header>
    <img src="{% static 'img/logos/logoHorizontal-transparent.png' %}" class="logo-img">
    <button>
        <img>
    </button>
    <button>
        <img>
    </button>
</header>

<main>
    <h1>Sobre nós</h1>
    <p>
        Somos uma entidade de engenharia que atua em várias áreas, como a de robótica, inteligência artificial e automação. 
        Nosso objetivo é desenvolver projetos para competições e também para o mundo real, para que possam ajudar a sociedade de alguma forma.
        O Insper Dynamics é composto pelo time de engenharia, que é responsável por desenvolver os projetos, e o time de gestão, que é responsável por administrar a entidade.
    </p>
    <img src="{% static 'img\dynamic.jpg' %}" class="logo-img">
</main>