body {
    font-family: "Inter", sans-serif;
}
.titulo {
    color: #D7682E;
    font-weight: 650;
    margin-left: 302px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.embdsc {
    margin-left:-100;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mldsc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:white;
}
.embarcados {
    width: 230px;
    height: 230px;
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 10px;
    margin-top: 100px;
    margin-left: 70px;
    box-shadow: 0px 2px 10px -5px;  
}
.machinelearning {
    width:230px;
    height: 230px;
    background-color: #D7682E;
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 10px;
    margin-top: -250px;
    margin-left:320px;
    box-shadow: 0px 2px 10px -5px;
}
.webmobile {
    width:230px;
    height: 230px;
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 10px;
    margin-top: -250px;
    margin-left:570px;
    box-shadow: 0px 2px 10px -5px;
}
.botao {
    width: 270px;
    height:90px;
    background-color: #B9B9B9;
    border-radius:20px ;
    margin-left: 312px;
    margin-top: 100px;
    text-decoration: none;
    border-color:#B9B9B9;
    
}
.saibamais {
    font-weight:900;
    color: white;
    font-size: 40px;
}
.descricao {
    width: 850px;
    font-size: 19px;
}
.tituloem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#D7682E;
    font-weight: 650;
    margin-left:40px;
    margin-top: 40px;
}
.tituloml {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#ffffff;
    font-weight: 650;
    margin-left: 17px;  
    margin-top: 40px;  
}
.titulowm {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#D7682E;
    font-weight: 650;
    margin-left: 40px;   
    margin-top: 40px; 
}
.container {
    display: flex;
    flex-direction: row;
}
.um {
    flex:1;
}
.dois {
    flex:3;
}
.tres {
    flex:1
}

.div-outside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5rem;

    background: #FFFFFF;
    width: 20rem;
    height:18rem;
    filter: drop-shadow(0 0 10px #D3D3D3)
}

.div-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5rem;

    background: orange;
    width: 20rem;
    height:18rem;
    filter: drop-shadow(0 0 10px #D3D3D3)
}

.right-border{
    border-radius: 0px 12px 12px 0px;
}

.left-border{
    border-radius: 12px 0px 0px 12px;
}

.button{
    display:flex;
    background-color: #B9B9B9;
    color: #1C1C1C;
    border: none;
    border-radius: 12px;
    padding: 0.5rem;
    font-size: 1rem;
    width: 20rem;
    height: 3rem;
    text-decoration: none;

    align-items:center;
    justify-content: center;
}

.button-text{
    font-size: 1.9rem;
    width: 90%;
}