h1{
    font-size: 3.5rem;
    color: #D7682E;
}

.container-title{
    font-size: 1.8rem;
    width: 90%;
    text-align: center;
}

.container-text{
    font-size: 1.2rem;
    width: 90%;
}

.description{
    font-size: 1.7rem;
    width: 90%;
    text-align: center;
}

.outside-text{
    color: #D7682E;
}

.inside-text{
    color: #FFFFFF;
}

.paragraph{
    font-size: 1.5rem;
    text-align: flex-start;
    tab-size: 8;
}