header {
    display: flex;
    position:fixed;

    top:0px;
    left:0px;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    background-color: #D7682E;
    width: 100%;
    justify-content: space-between;
}

.div-header{
    display: flex;
    justify-content: center;
}

.projetos {
    margin-left: 3.5rem;
}
.selecao {
    margin-left: 3.5rem;

}
.logo {
    margin-left: 1.5rem;
}
.instagram {
    align-self: center;
    margin-right: 1.5rem;
}

.linkedin {
    align-self: center;
    margin-right: 1rem;
}

.projetos, .selecao {
    font-size: 120%;
    color:white;
    text-decoration: none;
    align-self: center;
    margin-left: 3.5rem;
}

@media only screen and (max-width: 320px) {
    .projetos, .selecao {
        font-size: 200%;
        color:white;
        text-decoration: none;
        align-self: center;
        margin-left: 3.5rem;
    }
}

@media only screen and (max-width: 640px) {
    .projetos, .selecao {
        font-size: 100%;
        color:white;
        text-decoration: none;
        align-self: center;
        margin-left: 3.5rem;
    }
}