header {
    display: flex;
    position:fixed;

    top:0px;
    left:0px;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    background-color: #D7682E;
    width: 100%;
    justify-content: space-between;
}

.div-header{
    display: flex;
    justify-content: center;
}

.projetos, .selecao {
    font-size: 150%;
    color:white;
    text-decoration: none;
    font-family:"Inter", sans-serif;
    margin-top: 10px;
}
.projetos {
    margin-left: 3.5rem;
}
.selecao {
    margin-left: 3.5rem;

}
.linkedin {
    right: 70px;
}
.instagram {
    right: 35px;
    margin-right: 2rem;
}
.logo {
    margin-left: 1.5rem;
}
.instagram {
    align-self: center;
    margin-right: 1.5rem;
}

.linkedin {
    align-self: center;
    margin-right: 1rem;
}