html, body {
    font-family: "Inter", sans-serif;
}
/* body {
    background-image: url("https://media.discordapp.net/attachments/654431925217394692/1098980197446991912/IMG_5731_1.png?width=1102&height=580");
    background-repeat: no-repeat;
    background-size: cover;;
} */

img{
    width: 100%;
}
.logolp {
    display:block;
    margin:auto;
    margin-top:10%;
}