

.div-outside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding: 1.5rem;
 
    width: 22.29%;
    height: 12rem;
}

.div-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding: 1.5rem;

    width: 22.29%;
    height: 12rem;
    background-color: #D7682E;
}

@media only screen and (max-height: 1200px) {
    .div-outside{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        padding: 1.5rem;
     
        width: 22.29%;
        height: 20rem;
    }
    
    .div-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        padding: 1.5rem;
    
        width: 22.29%;
        height: 20rem;
        background-color: #D7682E;
    }
}

.margin-top{
    margin-top: 2rem;
}

.text-align{
    text-align: center;
}

.description{
    font-size: 1.7rem;
    width: 90%;
    text-align: center;
}

.container-text{
    font-size: 1rem;
    width: 90%;
}

.container-title{
    font-size: 1.5rem;
    width: 90%;
    text-align: center;
}

.outside-text{
    color: #D7682E;
}

.inside-text{
    color: #FFFFFF;
}

.button{
    background-color: #B9B9B9;
    color: #1C1C1C;
    border: none;
    border-radius: 12px;
    padding: 0.5rem;
    font-size: 1rem;
    width: 63.63%;
    text-decoration: none;
}

h1{
    color: #D7682E;
}

.all-height{
    height: 100%;
}

.container-height{
    height: rem;
}